<div class="main">
	<div class="content">
		<div class="left-side">
			<div class="title-container">
				<h3 class="titulo text-center">CONTROL DE EMPLEADOS Y DEPARTAMENTOS</h3>
			</div>
		</div>
		<div class="right-side">
			<div class="container">

				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						LISTAR
					</button>
					<ul class="dropdown-menu">
						<li>
							<button class="dropdown-item" type="button" (click)="listarE()">
								EMPLEADOS
							</button>
						</li>
						<li>
							<button class="dropdown-item" type="button" (click)="listarD()">
								DEPARTAMENTOS
							</button>
						</li>
					</ul>
				</div>

				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						NUEVO
					</button>
					<ul class="dropdown-menu">
						<li>
							<button class="dropdown-item" type="button" (click)="nuevoE()">
								EMPLEADOS
							</button>
						</li>
						<li>
							<button class="dropdown-item" type="button" (click)="nuevoD()">
								DEPARTAMENTOS
							</button>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>

<router-outlet/>